.app h1{
    color: red;
    font-family: var(--rub);
    font-size: 50px;
}
.app p{
    color: grey;
    font-size: 20px;
    font-family: var(--pop);
    width: 50%;
    text-align: center;
}
#palk{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#palk h2{
    color: red;
    font-family: var(--rub);
    font-weight: 400;
    font-size: 30px;
}
#palk p{
    font-family: var(--pop);
    font-size: 20px;
    color: white;
    text-align: left;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.yap{
    background-color: black;
}
.pow{
    display: flex;
    justify-content: space-around;
}
@media(max-width: 500px){
    .pow{
        flex-direction: column;
        align-items: center;
    }
    #palk{
        width: 90%;
    }
    .app p{
        width: 90%;
    }
}